---
import Default from "@layouts/Default.astro";
import ContactForm from "@components/Form.svelte";

export const prerender = true;
---

<Default title="Victor Carpio | Freelance Fullstack Developer - Contact">
  <section id="contact" class="bg-gray-50 dark:bg-gray-800">
    <div class="py-10 px-6 mx-auto max-w-screen-md sm:py-14 lg:px-8">
      <h2
        class="mb-4 text-3xl tracking-tight font-bold text-center text-gray-900 dark:text-white"
      >
        Nice to e-meet you!
      </h2>
      <p
        class="flex justify-center gap-x-2 gap-y-0 flex-wrap text-lg mb-8 md:mb-10 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl"
      >
        <span>Have a question? Just want to say hello?</span>
        <span>Feel free to use the form</span>
      </p>
      <ContactForm client:only="svelte" />
    </div>
  </section>
</Default>
