---
import Menu from "./Menu.astro";
import Logo from "./Logo.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="w-full sticky top-0">
  <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
    <div class="flex flex-wrap items-center mx-auto max-w-screen-xl">
      <div class="mr-auto">
        <Logo />
      </div>
      <div class="mr-1 lg:mr-6">
        <ThemeToggle />
      </div>
      <Menu />
    </div>
  </nav>
</header>
