---
import Logo from "./Logo.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="w-full sticky top-0">
  <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
    <div class="flex flex-wrap items-center mx-auto max-w-screen-xl">
      <div class="mr-auto px-1">
        <Logo />
      </div>
      <div class="mr-2">
        <ThemeToggle />
      </div>
      <a
        href="/contact"
        class="flex gap-1 ml-2.5 px-3 py-1.5 text-white rounded-lg bg-malt"
      >
        Say hello! 👋
      </a>
    </div>
  </nav>
</header>
