---
import Icon from "../Icon.astro";
---

<a
  href="/"
  class="flex items-center gap-x-1.5 tracking-wider text-gray-900 dark:text-white"
>
  <Icon name="logo" class="h-8" />
  <div
    class="flex items-center self-center text-xl h-8 font-semibold whitespace-nowrap"
  >
    elcarpios
  </div>
</a>
