---
import Icon from "../Icon.astro";
---

<a
  href="https://elcarpios.dev"
  class="flex items-center gap-x-1.5 tracking-wider"
>
  <Icon name="logo" class="text-gray-800 dark:text-white h-8" />
  <div
    class="flex items-center text-gray-800 self-center text-xl h-8 font-semibold whitespace-nowrap dark:text-white"
  >
    elcarpios
  </div>
</a>
