---
import Logo from "./Header/Logo.astro";
import Icon from "./Icon.astro";
---

<footer class="px-6 pt-12 pb-8 bg-white dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0 -ml-1 md:ml-0">
        <Logo />
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-24">
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Porfolio
          </h2>
          <ul class="text-gray-600 dark:text-gray-400">
            <li class="mb-4">
              <a href="/" class="hover:underline">Presentation</a>
            </li>
            <li class="mb-4">
              <a href="/projects" class="hover:underline">Projects</a>
            </li>
            <li>
              <a href="/about-me" class="hover:underline">About me</a>
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Contact
          </h2>
          <ul class="text-gray-600 dark:text-gray-400">
            <li class="mb-4">
              <a href="mailto:hello@elcarpios.dev" class="hover:underline"
                >Mail</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="flex flex-col gap-2 text-sm">
        <div
          class="flex gap-1 flex-col sm:flex-row text-gray-500 dark:text-gray-400"
        >
          2023. Designed and coded using:
          <span
            ><a
              href="https://astro.build/"
              target="_blank"
              class="hover:underline">Astro 🧑‍🚀</a
            >
             and
            <a
              href="https://flowbite.com/"
              target="_blank"
              class="hover:underline">Flowbite 💙</a
            >
          </span>
        </div>
        <div class="flex gap-1 items-center text-gray-400 dark:text-gray-500">
          <Icon class="w-4 h-4" name="chevron-right" />
          <span>
            If you liked, check the source code <a
              class="hover:underline"
              href="https://github.com/elcarpios/elcarpios-dev"
              target="_blank">here</a
            >.</span
          >
        </div>
      </div>
      <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
        <a
          href="https://www.instagram.com/elcarpios/"
          target="_blank"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white"
        >
          <Icon name="instagram" class="w-5 h-5" />
        </a>
        <a
          href="https://github.com/elcarpios"
          target="_blank"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white"
        >
          <Icon name="github" class="w-5 h-5" />
        </a>
        <a
          href="https://www.linkedin.com/in/vicarpio/"
          target="_blank"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white"
        >
          <Icon name="linkedin" class="w-5 h-5" />
        </a>
      </div>
    </div>
  </div>
</footer>
