---
import Logo from "@components/Logo.astro";
import Icon from "@components/Icon.astro";
import Heading from "@components/Heading.astro";
import LinkButton from "@components/LinkButton.astro";
---

<footer class="px-6 pt-12 pb-8 bg-white dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0 -ml-1 md:ml-0">
        <Logo />
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-24">
        <div>
          <Heading tag="h6" className="mb-4">PORTFOLIO</Heading>
          <ul class="flex flex-col gap-y-2">
            <li>
              <LinkButton href="/" style="outline">Presentation</LinkButton>
            </li>
            <li>
              <LinkButton href="/projects" style="outline">Projects</LinkButton>
            </li>
          </ul>
        </div>
        <div>
          <Heading tag="h6" className="mb-4">CONTACT</Heading>
          <ul class="flex flex-col gap-y-2">
            <li>
              <LinkButton href="mailto:hello@vcarpio.dev" style="outline">
                Email
              </LinkButton>
            </li>
            <li>
              <LinkButton
                href="https://www.malt.es/project/new?freelanceId=6502e363a1ea6a6aed580511"
                style="outline"
              >
                Malt
              </LinkButton>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="flex items-center justify-between gap-y-2 flex-wrap">
      <div class="flex flex-col gap-3 text-sm">
        <div class="leading-6">
          2023. Designed and coded using
          <LinkButton style="outline" href="https://astro.build/">
            Astro
          </LinkButton> 🧑‍🚀 and
          <LinkButton style="outline" href="https://tailwindcss.com/">
            TailwindCSS
          </LinkButton> 💙
        </div>
        <span
          >✨
          <LinkButton
            style="outline"
            className="underline"
            href="https://github.com/elcarpios/vcarpio-dev"
          >
            Source code
          </LinkButton></span
        >
      </div>
      <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
        <LinkButton
          href="https://www.instagram.com/elcarpios/"
          aria-label="Instagram"
          style="outline"
        >
          <Icon name="instagram" />
        </LinkButton>
        <LinkButton
          href="https://github.com/elcarpios"
          aria-label="Github"
          style="outline"
        >
          <Icon name="github" />
        </LinkButton>
        <LinkButton
          href="https://www.linkedin.com/in/vicarpio/"
          aria-label="Linkedin"
          style="outline"
        >
          <Icon name="linkedin" />
        </LinkButton>
        <LinkButton
          href="https://www.malt.es/profile/victorcarpio"
          aria-label="Malt"
          style="outline"
        >
          <Icon name="malt" />
        </LinkButton>
      </div>
    </div>
  </div>
</footer>
