---
import Partner from "@components/Partner.astro";
---

<section id="partners" class="px-8 py-10 bg-gray-50 dark:bg-gray-800">
  <div
    class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-x-12 sm:gap-y-6 md:grid-cols-2 lg:grid-cols-4 dark:text-gray-400 max-w-screen-xl mx-auto"
  >
    <Partner logo="ubiqum" link="https://ubiqum.com/" />
    <Partner logo="marfeel" link="https://www.marfeel.com/" />
    <Partner logo="google" link="https://www.google.com/" />
    <Partner logo="shellock-partner" link="https://shellock.co/" />
  </div>
</section>
