---
import Card from "@components/Card.astro";
import AntisinkLogo from "@assets/svg/antisink.svg";
import ShellockLogo from "@assets/svg/shellock.svg";
---

<section class="px-6 pt-10 pb-16 dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Projects
      </h2>
      <p
        class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400"
      >
        Explore the whole collection of open-source web components and elements
        built with the utility classes from Tailwind
      </p>
    </div>
    <div class="grid gap-8 md:grid-cols-2">
      <Card
        title="Antisink App"
        subtitle="Web, iOS and Android App"
        description="Enhance user security and theft protection through IoT boat tracking"
        image={{
          src: AntisinkLogo,
          alt: "Antisink logo",
          class: "bg-blue-900",
        }}
        links={[
          {
            icon: "logo",
            link: "https://github.com",
          },
        ]}
      />
      <Card
        title="Shellock Platform"
        subtitle="Web platform"
        description="Real-time updates from anywhere in the world managed with some clicks"
        image={{
          src: ShellockLogo,
          alt: "Shellock logo",
          class: "bg-gray-50",
        }}
        links={[
          {
            icon: "logo",
            link: "https://github.com",
          },
        ]}
      />
    </div>
  </div>
</section>
