---
import Section from "@components/Section.astro";
import Card from "@components/Card.astro";
import Heading from "@components/Heading.astro";
import AntisinkLogo from "@assets/svg/antisink.svg";
import ShellockLogo from "@assets/svg/shellock.svg";
---

<Section id="projects">
  <Heading tag="h3">Projects</Heading>
  <Heading tag="h6" className="mb-8">Personal, work and collaborations</Heading>
  <div class="grid gap-8 md:grid-cols-2">
    <Card
      title="Antisink App"
      subtitle="Web, iOS and Android App"
      description="Enhance user security and theft protection through IoT boat tracking."
      link="https://antisink.no/antisink-tracker/"
      image={{
        src: AntisinkLogo,
        alt: "Antisink logo",
        class: "bg-blue-900",
      }}
      ,
      technologies={[
        "Typescript",
        "React",
        "CapcitorJS",
        "Mongoose",
        "Google Maps",
        "Google Cloud",
        "Firebase",
      ]}
    />
    <Card
      title="Shellock Platform"
      subtitle="Web platform and API"
      description="Real-time updates from anywhere in the world managed with some clicks."
      link="https://shellock.co/product/"
      image={{
        src: ShellockLogo,
        alt: "Shellock logo",
        class: "bg-white",
      }}
      technologies={[
        "Typescript",
        "React",
        "Mongoose",
        "Google Maps",
        "Google Cloud",
        "Jest",
      ]}
    />
  </div>
</Section>
