---
import Card from "@components/Card.astro";
import AntisinkLogo from "@assets/svg/antisink.svg";
import ShellockLogo from "@assets/svg/shellock.svg";

const isHome = Astro.url.pathname === "/";
---

<section
  id="projects"
  class="py-8 px-4 mx-auto max-w-screen-xl sm:py-14 lg:px-6 dark:bg-gray-900"
>
  <div class="mx-auto max-w-screen-xl lg:px-6">
    <div class="mx-auto max-w-screen-lg text-center mb-10 lg:mb-16">
      {
        isHome ? (
          <a class="hover:underline" href="/projects">
            <h2 class="flex gap-2 justify-center items-baseline mb-6 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
              Projects
            </h2>
          </a>
        ) : (
          <h2 class="flex gap-2 justify-center items-baseline mb-6 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
            Projects
          </h2>
        )
      }
      <p class="font-light text-gray-500 lg:mb-12 text-lg dark:text-gray-400">
        Church-key viral you probably haven't heard of them, franzen affogato
        narwhal skateboard taiyaki synth wayfarers lyft live-edge raclette tbh
        thundercats. Vaporware next level pinterest bespoke gorpcore.
      </p>
    </div>
    <div class="grid gap-8 md:grid-cols-2">
      <Card
        title="Antisink App"
        subtitle="Web, iOS and Android App"
        description="Enhance user security and theft protection through IoT boat tracking"
        link="/projects/antisink"
        image={{
          src: AntisinkLogo,
          alt: "Antisink logo",
          class: "bg-blue-900",
        }}
        links={[
          {
            icon: "website",
            link: "https://app.antisink.no/",
          },
          {
            icon: "android",
            link: "https://play.google.com/store/apps/details?id=com.shellock.antisink",
          },
          {
            icon: "apple",
            link: "https://apps.apple.com/us/app/antisink/id6449426563",
          },
        ]}
      />
      <Card
        title="Shellock Platform"
        subtitle="Web platform"
        description="Real-time updates from anywhere in the world managed with some clicks"
        link="/projects/shellock"
        image={{
          src: ShellockLogo,
          alt: "Shellock logo",
          class: "bg-gray-50",
        }}
        links={[
          {
            icon: "logo",
            link: "https://shellock.co",
          },
        ]}
      />
    </div>
  </div>
</section>
