---
type Props = {
  id?: string;
  className?: string;
};

const { className = "", id = "" }: Props = Astro.props;
---

<section class={`px-6 py-8 ${className}`} id={id}>
  <div class="mx-auto max-w-screen-xl">
    <slot />
  </div>
</section>
